@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Macondo&family=Maven+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 300;
    color: crimson;
}

h1 {
    font-family: macondo, sans-serif;
    text-transform: uppercase;
    display: flex;
    flex: auto;
}

h1,
h2 {
    float: left;
    color: black;
}

h2 {
    font-family: 'Handlee', cursive;
    margin-bottom: 10px;
    width: 100%;
    margin-bottom: 20px;
}

p {
    color: beige;
}

em {
    font-style: italic;
}

span {
    font-weight: bold;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

/*nav links*/
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: red;
}

#menu,
li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin: 8px;
    text-decoration: none;

}

#menu,
a {
    text-decoration: none;
    color: inherit;
}

#menu li:hover {
    color: rgb(43, 49, 56);
    border-bottom: 1px solid;
}

#active {
    border-bottom: 1px solid;
}

#logo {
    display: flex;
    flex-direction: row;
}

/*head image*/
#start-image {
    width: 100%;


}

#start-image>img {
    position: relative;
    background: no-repeat center fixed;
    background-size: contain;
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 800px) {

    #start-image>img {
        height: auto;
    }
}


#welcome {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin: 20px 0 20px 0;
    padding: 30px;
    box-sizing: border-box;
}
#welcome >p {
    color: black;
}
table {
    max-width: auto;
    height: auto;
    display: flex;
    flex-flow: column wrap;
}

iframe {
    height: 100%;
    width: 100%;

}



#contact {
    width: 100%;
    height: 360px;
    background: url("../images/pexels-photo-10560239.jpeg") no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

footer {
    height: 10%;
    width: 100%;
    background: url("../images/pexels-photo.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
    position: fixed;
    left: 0;
    bottom: 0;
}

#footer-social {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

}

#social {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#social a {
    font-size: 300%;
    color: red;
    opacity: 80%;
}

/*contact info in the footer*/
#flex-contact {
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    color: black;
    background-color: rgba(119, 136, 153, 0.6);
    box-sizing: border-box;
    font-size: xx-small;
}

@media screen and (max-width:400px) {
    #social {
        font-size: 70%;
        display: flex;
        justify-content: flex-start;
    }

}

/*event page*/
#event-main {
    background: url("../images/pexels-photo-3012055.webp") no-repeat center center;
    height: 100%;
    overflow: auto;
    background-size: cover;
    position: relative;
}

.event {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: beige;
    margin: 50px 30px 50px 30px;
    padding: 30px 30px 30px 30px;
    background-color: rgba(47, 79, 79, 0.6);

}



.event-photo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.event-photo>img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

@media screen and (max-width:600px) {
    .event {
        display: flex;
    }

    .event-photo {
        display: flex;
    }

    .event-photo>img {
        border-radius: unset;
        width: 100px;
        height: 100px;
        padding: 3px;
        box-sizing: border-box;
    }

}

/*gallery*/
#nav-gallery {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

#gallery-button {
    display: block;
    border: none;
    cursor: pointer;
    padding: 30px;
    font-size: larger;
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    color: beige;
    background-color: rgba(47, 79, 79, 0.4);
}

#gallery-button:hover {
    background-color: red;
}

/*photos in gallery*/
#photos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;


}

#photos>img {
    width: 50%;
    height: auto;
    display: flex;
    flex: 50%;
    align-items: center;
}

/* sign up section*/
#signup-photo {
    background: url("../images/pexels-hannah-grapp-9580874.jpg") no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: 800px;
}

/*fieldset*/
fieldset {
    background-color: rgba(47, 79, 79, 0.6);
    width: 33%;
    padding: 30px;
    box-sizing: border-box;
    color: beige;
}
@media screen and (max-width:600px){
   fieldset{
 width: 100%;
}
}

#flex-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

input[type="text"] {
    background-color: rgba(47, 79, 79, 0.4);
    outline: none;
    color: beige;
}
textarea {
    background-color: rgba(47, 79, 79, 0.4);
    outline: none;
    color: beige;
}
textarea:focus {
    border: 3px solid #401111;
}
input[type="text"]:focus {
    border: 3px solid #401111;
}

#submit {
    display: block;
    border: none;
    cursor: pointer;
    padding: 20px;
    margin:10px;
    width: fit-content;
    font-size: larger;
    font-family: 'Maven Pro', sans-serif;
    color: beige;
    background-color:#401111;
}
#submit:hover {
    background-color: red;
}
#reset {
    display: block;
    border: none;
    cursor: pointer;
    margin:10px;
    border-radius: 8px;
    font-family: 'Maven Pro', sans-serif;
    color: beige;
    width: 88px;
    height: 30px;
    text-align: center;
    background: border-box;
}
#reset:hover {
    border-style: groove;
    border-color: aqua;
}
#thank-you {
    position: fixed;
    text-align: center;
    background-color: rgba(47, 79, 79, 0.4);
    display: flex;
    justify-content: center;
    top: 35%;
    left: 14%;
    flex-wrap: wrap;
    height: 200px;
    padding: 30px;
}
#thank-you, h2, p {
    color: beige;
}