@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Macondo&family=Maven+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Maven+pro, sans-serif;
    font-weight: 300;
    color: crimson;
}
h1 {
    font-family: macondo, sans-serif;
    text-transform: uppercase;
}
h1, h2 {
    float: left;
    color: black;
    background-color: red;

}
/*nav links*/
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    
    color: red;
    
}
#menu, li {
display: flex;
flex-direction: row;
justify-content: flex-end;
list-style-type: none;
margin: 10px;
text-decoration: none;

}
#menu, a {
    text-decoration: none;
    color: inherit;
}
#menu li:hover {
  color: yellow;
  border-bottom: 1px solid;
}
#active {
    border-bottom: 1px solid;
}
/*head image*/
#start-image {
    background-image: src="assets/images/pexels-erik-mclean-5023743.jpg" alt="an open fire next to the chief's throne inside the longhouse";
   width: 100%;
   height: 10px;
}