@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Macondo&family=Maven+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Maven+pro, sans-serif;
    font-weight: 300;
}